body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.layout-app {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
.layout-app form {
  position: relative;
  padding: 50px;
}
.hook-component {
    background-color: #61dafb;
}
.class-component {
    background-color: chartreuse;
}
.layout-app form button {
    border-radius: 2px;
    display: inline-block;
    padding: 20px;
    margin: 5px;
    border: none;
}
.layout-app form button:hover {
    background-color: bisque;
    cursor: pointer;
}
.layout-app form p {
    display: block;
    margin: 0;
}
.layout-app form input {
  border: none;
  border-radius: 2px;
  padding: 4px;
  display: block;
  margin: 5px 0;
  box-shadow: none;
  font-size: 30px;
  font-style: italic;
  width: 100%;
}
.layout-app form input:focus{
  outline: none;
  box-shadow: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
