body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.layout-app {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.layout-app form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  border: 1px solid;
  background-color: chartreuse;
}
.layout-app input {
  border: none;
  border-radius: 2px;
  padding: 4px;
  display: block;
  margin: 5px 0;
  box-shadow: none;
}
.layout-app input:focus{
  outline: none;
  box-shadow: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
